<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="eshift_management.Properties.Settings.conn" connectionString="Data Source=DESKTOP-A993L7D\SQLEXPRESS01;Initial Catalog=eShift;Integrated Security=True;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False" />
    </connectionStrings>
</configuration>